@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f9f9;
}

.para {
  min-height: 33vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.btnContainer {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

#helpContainer {
  display: flex;
  flex-direction: column;
}

#btnContainer {
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  background-color: coral;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 15px;
}

.btnContainer button {
  font-size: 2rem;
}

button:hover {
  background-color: orangered;
  color: #f9f9f9;
}

button:active {
  background-color: brown;
}

button:disabled {
  background-color: white;
}

.number {
  font-weight: 300;
  font-size: 10rem;
}

.card {
  height: 140px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.card p {
  padding-bottom: 1rem;
  text-align: center;
}

#endGame {
  display: flex;
  font-size: 2rem;
  text-align: center;
  flex-direction: column;
  max-width: 800px;
}
