@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* default */
button {
  background-color: coral;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: cadetblue;
}

#title {
  padding: 1rem;
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
}

.box_rules {
  max-width: 800px;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 0 1rem;
}

#start {
  margin-top: 1.5rem;
}

#otter_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: url(https://images.unsplash.com/photo-1597378609416-47cc937b294c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80)
    center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1.5rem 0 1rem 0;
  border: 5px solid #69625f;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f9f9;
  padding-bottom: 2rem;
}

.para {
  min-height: 33vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

#fixContainer {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding-bottom: 20px;
}

.btnContainer,
#buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#btnContainer {
  flex-direction: row;
  flex-wrap: wrap;
}

#txtContainer {
  text-align: center;
}

.btnContainer button,
#buttonsContainer button {
  font-size: 2rem;
}

button:hover {
  background-color: orangered;
  color: #f9f9f9;
}

button:active {
  background-color: brown;
}

button:disabled {
  background-color: white;
}

.number,
#number {
  font-weight: 300;
  font-size: 10rem;
}

.card {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.card p {
  padding-bottom: 1rem;
  text-align: center;
}

#endGame {
  min-height: 100vh;
  display: flex;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  width: 90%;
}

#info {
  font-size: 1rem;
  font-style: italic;
  padding: 2rem 1rem;
}

#archContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.arch {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 200px;
  border: 1px solid #69625f;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.arch p {
  font-size: 1rem;
}

.titleContainer {
  border-radius: 2rem;
  padding: 0.4rem;
}

.titleContainer p {
  font-size: 1.2rem;
  font-weight: 700;
}

#retry {
  width: 140px;
  font-weight: 500;
}

@media only screen and (max-width: 700px) {
  #fixContainer {
    width: 100%;
    position: fixed;
    background-color: #f9f9f9;
  }
}
